body{
    font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif!important;
    color: rgba(0,0,0,0.8);
    margin: 0px;
}

img{
        border-radius: 25px;
}
.painel {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
}

.container{
    margin: 60px 0;
    width: 500px;
    height: 500px;
}

.rotation{
    cursor: all-scroll  ;
    height: 100% !important;
    max-width: 100% !important;
    margin: auto;

}

.rotation > img{

}
.caixao{
    width: 200px;
    cursor: pointer;
    border: 2px solid rgba(255,0,0,0.6);
    background: none;
    border-radius: 25px;
    padding: 5px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease;
}

.caixao:hover{
    box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    background: rgba(255,0,0,0.3);
}

.caixao:focus{
    box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    background: rgba(255,0,0,.5);
    outline:0;
}


.caixa > img{
    max-width: 100px;
    /* border: 2px solid rgba(255,0,0,0.6); */
    border-radius: 25px;
    margin: 0 15px;
    padding: 15px;
    max-height: 100px;
}

.caixa > h2{
    margin: 0px 10px 10px 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 1400px) {
    .container{
        width: 400px;
        height: 400px;
    }
    .caixao{
        width:150px;
    }

    .caixa > img{
        max-width: 75px;
    }
    .caixa > h2{
        font-size: 14px;
        margin: 0px 5px 5px 5px;
    }

}

/* teste 2 */

#header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #F40009;
    font-family:'Open Sans';
    color: white;
}

#menuHolder{
max-height: 80px;
max-width: 80px;
height: 50px;
cursor: pointer;
width: 50px;
margin: 30px 50px;
background-image: url('https://icon-library.net/images/white-hamburger-menu-icon/white-hamburger-menu-icon-1.jpg');
background-repeat: no-repeat;
background-size: contain;
background-position: 50% 50%;
}

.searchContainer{
    display: flex;
    align-items: center;
justify-content: space-between;

}

.searchContainer>input{
    border-radius: 25px;
    min-height: 50px;
    min-width: 300px;
    border-style: none;
    outline: none;
    padding: 0px 25px;
    font-size: 16px;

    
}

.searchButton{
    height: 50px;
    width: 50px;

}